.Component{
	display: flex;
	justify-content: space-around;
}

.Dashboard{
	margin: 0 0 2rem 2rem;
}

.Dashboard .heading{
	margin-bottom: 2rem;
}

@media (max-width: 1000px){
	.Component{
		flex-direction: column;
		justify-content: space-around;
		gap: 2rem;
		align-items: center;
	}
}