@import 'Variables';

.Header{
    background: $grey;
    @include flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 6rem;
    font-size: $font-medium;

    &-logo{
        width: 70px;
	    height: 70px;
	    background: $black;
	    @include logo;
        @include grid;
    }

    &-inner-logo {
        width: 60px;
        height: 60px;
        background: $white;
        @include logo;
        @include grid;
    }

    &-text{
        width: 50px;
        height: 50px;
        background: $red;
        color: $white;
        font-size: $font-medium;
        font-weight: 600;
        @include logo;
        @include grid;
    }

    .subheading{
        color: $red;
    }
}

.miniheading {
    font-size: $font-small;
    color: $black;
}

.user-details{
    @include flex-column;
    align-items: flex-end;
}

.logout-btn{
    background: $red;
    color: $white;
    font-size: $font-small;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
